{% extends 'layout.html' %}

{% block title %}List All Announcement{% endblock %}

{% block content %}

{% for announcement in announcements %}
<div class="announcement rounded shadow-sm position-relative mb-2">
    <div class="card border-1 shadow-sm">
        <div class="card-body position-relative">
            <h5 class="card-title">{{ announcement.title }}</h5>
            <p class="card-text announcement-content">{{ announcement.content }}</p>
            <p class="card-text announcement-content">{{ announcement.created_at | datetime_format}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}