{% extends 'layout.html' %}

{% block title %}Announcement List{% endblock %}

{% block content %}

<!-- Back button -->
<div class="mb-2">
    <button class="btn btn-outline-secondary" onclick="goBack()"><i class="bi bi-arrow-left"></i>Back</button>
</div>

<!-- Announcement display -->
<h1 class="text-center"><span style="color: #495057; font-family: 'Arial Black', Arial;">Announcements</span></h1>
<br>

{% for announcement in announcements %}
<div class="announcement rounded shadow-sm position-relative mb-2" data-announcement-id="{{announcement.announcement_id}}">
    <div class="card border-1 shadow-sm">
        <div class="card-body position-relative">
            <h5 class="card-title"><b>{{ announcement.title }}</b></h5>
            <p class="card-text announcement-content">{{ announcement.content }}</p>
            <p class="card-text announcement-content text-muted">Announced at: {{ announcement.created_at | datetime_format}} - End at: {{ announcement.end_at | datetime_format}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}