{% extends 'layout.html' %}

{% block title %}Update Your Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Update Password</h2>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <!-- Greeting with User's first name -->
                    <h5 class="card-title mb-4">Hi {{ user['first_name'] }}</h5>
                    <form class="row g-3 needs-validation"
                          action="{{ url_for('password', user_id=user['user_id']) }}"
                          method="POST" novalidate>

                        <!-- Old Password -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="old_password" name="old_password"
                                   pattern="[A-Za-z\d@$!%*?&]{8,}"
                                   placeholder="Old Password" required>
                            <label class="ms-2" for="old_password">Old Password</label>
                        </div>

                        <!-- New Password -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="new_password" name="new_password"
                                   pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                   placeholder="New Password" required>
                            <label class="ms-2" for="new_password">New Password</label>
                            <div class="invalid-feedback">
                                Password must be at least 8 characters long and include a mix of letters, numbers, and
                                special characters (@$!%*?&).
                            </div>
                            <small id="passwordHelp" class="form-text text-muted">
                                Password must be at least 8 characters long and include a mix of letters, numbers, and
                                special characters (@$!%*?&).
                            </small>
                        </div>

                        <!-- Confirm New Password -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirm_new_password"
                                   name="confirm_new_password" placeholder="Confirm New Password"
                                   pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
                            <label class="ms-2" for="confirm_new_password">Confirm New Password</label>
                            <div class="invalid-feedback" id="passwordMismatchFeedback">
                                Passwords do not match.
                            </div>
                        </div>

                        <input type="hidden" id="pmode" name="pmode" value="edit">

                        <!-- Update Password Button -->
                        <div class="d-grid mt-4 col-md-8 col-lg-6 mx-auto">
                            <button type="submit" class="btn btn-success">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector('form');
        const newPassword = document.getElementById('new_password');
        const confirmNewPassword = document.getElementById('confirm_new_password');
        const passwordMismatchFeedback = document.getElementById('passwordMismatchFeedback');

        function updateConfirmNewPasswordPattern() {
            const passwordLength = newPassword.value.length;
            confirmNewPassword.pattern = `^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{${passwordLength},}$`;
        }

        newPassword.addEventListener('input', updateConfirmNewPasswordPattern);

        form.addEventListener('submit', function(event) {
            if (newPassword.value !== confirmNewPassword.value) {
                event.preventDefault();
                confirmNewPassword.classList.add('is-invalid');
                passwordMismatchFeedback.style.display = 'block';
<!--                newPassword.value = '';-->
                confirmNewPassword.value = '';
            } else {
                confirmNewPassword.classList.remove('is-invalid');
                passwordMismatchFeedback.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
