{% extends 'layout.html' %} 

{% block title %}Competition Scrutineering{% endblock %} 

{% block content %}

<div>
    <div class="mb-2">
        <a class="btn btn-outline-secondary" href="{{url_for('competitions_mgmt')}}"><i class="bi bi-arrow-left"></i>Back</a>
    </div>

  <div class="mb-3 d-flex justify-conent-start align-items-baseline">
    <h1>{{competition.name}}</h1>
    <span class="badge bg-primary status-badge ms-2">
      {{ competition.status }}
    </span>
  </div>

  <canvas id="dailyVotesChart" style="width:100%;height:500px;" ></canvas>

  <div class="mt-4">
    <h2>Votes by Ip</h2>
  </div>
  <table class="table table-hover table-striped thead-light">
    <thead>
      <tr>
        <th scope="col">IP Address</th>
        <th scope="col">Total Votes</th>
        <th scope="col">Valid Votes</th>
      </tr>
    </thead>
    <tbody>
      {% for vote in votes %}
      <tr>
        <td>
          <a href="{{ url_for('votes_list', competition_id=competition.competition_id) }}?ip={{ vote.voted_ip }}"
            onclick="enter_from_menu()">{{ vote.voted_ip }}</a`
          >
        </td>
        <td>{{ vote.total_votes }}</td>
        <td>{{ vote.valid_votes }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<style>
  .table thead th,
  .table tbody td {
    text-align: center;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", generateChart);

  function generateChart() {
    fetch('{{ url_for("daily_votes", competition_id=competition.competition_id) }}')
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              const dailyVotes = data.data;
              
              const labels = dailyVotes.map(vote => vote.vote_date);
              const validVotes = dailyVotes.map(vote => vote.valid_votes);
              const invalidVotes = dailyVotes.map(vote => vote.invalid_votes);

              const ctx = document.getElementById('dailyVotesChart').getContext('2d');
              new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: labels,
                      datasets: [{
                          label: 'Valid Votes',
                          data: validVotes,
                          backgroundColor: 'rgba(75, 192, 192, 0.6)',
                          borderColor: 'rgba(75, 192, 192, 1)',
                          borderWidth: 1
                      }, {
                          label: 'Invalid Votes',
                          data: invalidVotes,
                          backgroundColor: 'rgba(255, 99, 132, 0.6)',
                          borderColor: 'rgba(255, 99, 132, 1)',
                          borderWidth: 1
                      }]
                  },
                  options: {
                      responsive: true,
                      scales: {
                          x: {
                              stacked: true
                          },
                          y: {
                              stacked: true,
                              beginAtZero: true
                          }
                      },
                      plugins: {
                          title: {
                              display: true,
                              text: 'Votes by Date',
                              font: {
                                  size: 24
                              }
                          }
                      } 
                  }
              });
          } else {
              console.error(data.message);
          }
      })
      .catch(error => {
          console.error('Error fetching data:', error);
      });
  }
</script>

{% endblock %}
