{% extends 'layout.html' %}

{% block title %}Edit Competition{% endblock %}

{% block content %}
<div>
    <div class="text-center my-3">
        <img src="{{ competition['image'] }}" alt="Competition Image" id="competition-image"
             {% if editable %}
             onclick="document.getElementById('competition-image-input').click()"
             style="cursor: pointer;"
             {% endif %}
             class="img-fluid shadow"/>
        <input type="file" id="competition-image-input" class="d-none" accept="image/*" onchange="previewImage(event)">
    </div>
    <form class="row g-3 needs-validation"
          action="{{ url_for('competition_edit', competition_id=competition['competition_id']) }}"
          method="POST" novalidate>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" value="{{ competition['name'] }}"
                   placeholder="Competition Name" required>
            <label class="ms-2" for="name">Competition Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="description" name="description"
                   value="{{ competition['description'] }}"
                   placeholder="Competition Description" required>
            <label class="ms-2" for="name">Competition Description</label>
        </div>

        <div class="form-floating mb-3">
            <input type="datetime-local" class="form-control" id="start_date" name="start_date"
                   value="{{ competition['start_date'] }}" placeholder="Competition Start Date" required>
            <label class="ms-2" for="name">Competition Start Date</label>
        </div>

        <div class="form-floating mb-3">
            <input type="datetime-local" class="form-control" id="end_date" name="end_date"
                   value="{{ competition['end_date'] }}" placeholder="Competition End Date" required>
            <label class="ms-2" for="name">Competition End Date</label>
        </div>


        <div class="d-grid mt-4 col-md-8 col-lg-6 mx-auto">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>

{% endblock %}