{% extends 'layout.html' %}

{% block title %}{{ APP_NAME if APP_NAME else "Voting" }} - {{ SLOGAN }}{% endblock %}

{% block content %}
<div>
    <!-- Latest Announcement Section -->
     {% if CURRENT_USER %}
    <div class="announcement rounded shadow-sm position-relative">
        {% if announcement %}
            <div class="card border-0 shadow-sm">
                <div class="card-body position-relative">
                    <h5 class="card-title">{{ announcement.title }}</h5>
                    <p class="card-text announcement-content">{{ announcement.content }}</p>
<!--                    <a href="{{ url_for('announcement_view', announcement_id=announcement.announcement_id) }}" class="stretched-link"></a>-->
                    <div class="text-end position-absolute bottom-0 end-0 m-3">
                        <a href="{{ url_for('announcement_list') }}" class="link-primary text-decoration-none">View All Announcements</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No active announcements at the moment.</p>
        {% endif %}
    </div>
    {% endif %}

    <div class="voted-user-container rounded">
        <div class="latest-voted-text fs-4 text-muted me-3">
            Recent Voted
        </div>
        <div class="users-container">
            {% for user in users %}
            <div class="user-item" title="{{ user.username }}">
                <a href="{{url_for('profile', user_id=user.user_id)}}">
                    <img class="profile-large user-profile" src="{{ user.profile_image }}" alt="{{ user.username }}">
                </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Competitions Section -->
    <div class="competitions">
        <div>
            {% for competition in competitions %}
                <div class="competition-card">
                    <div class="card h-100 border-0 shadow-sm text-white position-relative" style="background: url('{{ competition.image or '/static/images/default_competition.png' }}') no-repeat center center / cover;">
                        <div class="card-body d-flex flex-column justify-content-between p-4 bg-opacity-50 position-relative">
                            <div>
                                <h5 class="card-title">{{ competition.name }}</h5>
                                <p class="card-text">
                                    {% if competition.status == 'approved' %}
                                        Results verifed
                                    {% elif competition.start_date > CURR_TIME %}
                                        Voting starts in {{ (competition.start_date - CURR_TIME) | format_relative_time }}
                                    {% elif competition.end_date >= CURR_TIME %}
                                        Voting ends in {{ (competition.end_date - CURR_TIME) | format_relative_time }} - Cast your vote now!
                                    {% else %}
                                        Awaiting Results Verification
                                    {% endif %}
                                </p>
                            </div>
                            <div class="text-end position-absolute bottom-0 end-0 m-3">
                                <a href="{{ url_for('competition_view', competition_id=competition.competition_id) }}" class="link-light text-decoration-none me-3">Details</a>
                                <!-- <a href="{{ url_for('competition_vote', competition_id=competition.competition_id) }}" class="link-light text-decoration-none">Vote</a> -->
                            </div>
                            {% if competition.status == 'approved' %}
                                <a href="{{ url_for('competition_result', competition_id=competition.competition_id) }}" class="stretched-link"></a>
                            {% else %}
                                <a href="{{ url_for('competition_vote', competition_id=competition.competition_id) }}" class="stretched-link"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>


    .announcement {
        /* cursor: pointer; */
        padding: 0px;
        margin-bottom: 30px;
    }

    .announcement .card {
        background-color: #d8e9da;
        border-radius: 8px;
    }

    .announcement .stretched-link,
    .competition-card .stretched-link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .competition-card .card-body {
        height: 200px;
    }

    .competition-card img {
        width: 100%;
        object-fit: cover;
    }

    .announcement .text-end a,
    .competition-card .text-end a {
        z-index: 2;
        position: relative;
    }

    .voted-user-container {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden; 
        padding: 16px;
        padding-right: 0px;
        /* background-color: #d8e9da; */
        transition: transform 0.3s ease-in-out;
    }

    .voted-user-container:hover {
        /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
        transform: translateY(-5px);
    }

    .latest-voted-text {
        white-space: nowrap;
        flex-shrink: 0;
    }

    .users-container {
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .user-item {
        transition: transform 0.2s;
    }

    .user-item:hover {
        transform: scale(1.05);
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    }

    .user-item + .user-item {
        margin-left: -30px;
    }

    .user-profile {
        border: #fff solid 3px; 
    }
</style>

{% endblock %}